body
  background: image-url('bg/bg.jpg')
  font-family: "pontanosans", "verdana"
  color: $brow
hr
  clear: both
  border: none
  border-bottom: 1px solid rgba($silver, 0.1)
  padding-top: 10px
  margin-bottom: 30px
a
  color: $blue
  &:hover
    color: darken($blue, 20%)
    text-decoration: none

.logo
  a
    background:  image-url('talk4me-logo.png')
    width: 300px
    height: 196px
    display: block
    margin: auto
    margin-top: 150px
  h1
    visibility: hidden
    display: none

.text
  font-family: "pontanosans", "verdana"
  font-size: 28px
  line-height: 35px
  color: $brow
  margin-top: 50px
  text-align: center
.coming_soon
  font-family: "pontanosans", "verdana"
  font-size: 30px
  line-height: 35px
  color: $blue
  margin-top: 50px
  text-align: center
